<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Card_background.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{0,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{77,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{770,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{847,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{924,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{0,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{154,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{231,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{308,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{385,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{462,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{539,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{616,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{693,0},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Club_Suit.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{231,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Crazy_eight_Club_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{309,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Crazy_eight_Diamond_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{79,115}</string>
			<key>spriteSourceSize</key>
			<string>{79,115}</string>
			<key>textureRect</key>
			<string>{{855,460},{79,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Crazy_eight_Heart_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{77,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Crazy_eight_Spade_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{387,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{154,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{847,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{924,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{0,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{77,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{231,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{308,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{385,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{462,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{539,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{616,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{693,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{770,115},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Diamond_Suit.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{465,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Even_Suit.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{543,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{154,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{847,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{924,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{0,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{77,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{231,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{308,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{385,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{462,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{539,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{616,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{693,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{770,230},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Heart_Suit.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{621,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Odd_Suit.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{699,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{231,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{924,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{0,460},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{77,460},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{154,460},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{308,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{385,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{462,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{539,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{616,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{693,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{770,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{847,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Spade_Suit.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,116}</string>
			<key>spriteSourceSize</key>
			<string>{78,116}</string>
			<key>textureRect</key>
			<string>{{777,460},{78,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>joker.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,115}</string>
			<key>spriteSourceSize</key>
			<string>{77,115}</string>
			<key>textureRect</key>
			<string>{{154,345},{77,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>card.png</string>
		<key>size</key>
		<string>{1001,576}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:44f5f2e416ef3db3564ed640a89b4ae5:ed6ce6be74dfbcabff6659834849a244:ac15c2787776c146127be3982bd2a622$</string>
		<key>textureFileName</key>
		<string>TeenPattiCards_resources.png</string>
	</dict>
</dict>
</plist>
